.container{
    text-align:center;
}
#heading{
    margin:30px 2px;
}
.sign{
    color:gold;
}
.accordion-item{
    margin :2px 154px;
    padding: 2px 2px;
}
body::before{
    content:"";
    background: url("bg.jpg")  center/cover repeat;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    opacity: 0.4;
}
#Bnews{
    margin: -33px 2px;
}
h1{
font-weight: 900;
font-family: 'Anton', sans-serif; 
color: red
}